*{
  list-style: none;
  
}

:root{
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
}

body{
  background-color: var(--primary);
}

h1{
  text-align: center;
}

.sub-header{


font-weight: bold ;
}

.employee-frm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  justify-items: left;
  width: 400px;

}

.employee-lbl{
min-width: 150px;
width: 100%;
}

.employee-input{
width: 100%;
min-width: 200px;
}

.radio-btn {

}
.btn{
  display: flex;

}


.title{
  background-color:var(--light);
}

.result-art{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col1{
  width: 175px;
}

.col2{
min-width: 100px;
max-width: fit-content;
}

.col3{
  width: 125px
}

.col4{
  width: 150px
}
footer{
  background-color: var(--dark);
}